:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(36, 36, 36);
  background-image: linear-gradient(45deg, rgba(40, 40, 40, 0.6), rgba(66, 66, 66, 0.939) 40%, rgba(230, 230, 230, 0.2) 60%, rgba(75, 75, 75, 0.6)), 
                    linear-gradient(95deg, rgba(101, 96, 96, 0.2), rgba(255, 255, 255, 0.4) 40%, rgba(252, 72, 27, 0.282) 60%, rgba(255, 255, 255, 0.442));
  background-blend-mode: overlay;
  animation: backgroundAnimation 1s ease infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background: linear-gradient(45deg, rgb(0, 4, 255), rgb(255, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 1s ease infinite;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.1);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h3 {
  text-shadow: 2px 2px 2px black;
}

button {
  border-radius: 8px;
  border: 2px solid ;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-shadow: 2px 2px 2px black;
}
button:hover {
  border-color: #5ec116;
  background-color: #89f53c;
  color: #313131;
  text-shadow: 2px 2px 2px white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #d4d5d7;
    background-color: #ffffff;
  }
  a:hover {
    color: #dedede;
  }
  button {
    background-color: #3279f5;
    border-color: 2px solid #535bf2;
    color: #dedede;
  }
}
